@font-face
{
  font-family: "Arimo";
  src: url("../fonts/Arimo.ttf");
}

:root {
	--main-red: #E51F1F;
	--secondary-red: #db202c;
	--main-blue: #0275d8;
	--secondary-blue: #0f7fdf;
}

* {
	padding: 0;
	margin:0;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	font-family: 'Arimo', Arial;
	color:#cccccc;
}

html {
	position: relative;
	min-height: 100vh;
	padding-bottom: 2.5rem;
}

body {
	height: inherit;
	background: #1d1d1d;
}

.header {
	width: 100%;
	background: black;
}

.container {
	width: 90%;
	max-width: 1024px;
	margin: auto;
}

.nav a {
	display: flex;
	align-items: center;
	justify-content: center;
	color: #fff;
	background: black;
	text-decoration: none;
	height: 50px;
}

.nav a:hover{
	font-weight: 600;
}

.nav {
	list-style: none;
	display: flex;
}

ul {
	list-style: none;
}

.nav li {
	position: relative;
	width: 100%;
	text-align: center;
}

.dropdown-1 li {
	display: none;
	position: relative;
}

.nav li:hover .dropdown-1 > li {
	top: 0;
	display: block;
}

.dropdown-1 {
	position: absolute;
	display: flex;
	flex-direction: column;
	width: 100%;
}

#nav-logo img {
	width: 5.5em;
	padding-top: 5px;
}

#nav-logo a:hover {
	background: black;
}

#login-logo {
	margin-bottom:10px;
}

.p-registro {
	text-align:left;
	margin-bottom: 5px;
	font-weight: 200;
}

#form-buscar {
	display: flex;
	align-items: center;
}

.buscar {
	width: 200px;
  font-size: .85em;
  font-weight: 700;
  color: #919191;
  border: 2px solid #333;
  border-radius: 20px;
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  padding: 4px 30px;
  background: #1d1d1d;
}

.datos {
	margin-top: 20px;
	font-size: 44px;
	font-weight: 600;
	color: #db202c;
	text-align: center;
	text-shadow: 0 2px 2px rgba(0,0,0,.4);
}

.table {
	font-size: 22px;
	margin-left: auto;
	margin-right: auto;
	width: 50%;
	margin-top: 50px;
    margin-bottom: 1rem;
	color: #000000
}

.table td p{
	text-align: center;
}

.table-dark {
    color: #fff;
    background-color: #181717
}
.table-striped tbody tr:nth-of-type(odd) {
    background-color: rgba(255,255,255,.05)
}

.table-dark.table-striped tbody tr:nth-of-type(odd) {
    background-color: rgba(255,255,255,.05)
}

#tabla-novedades {
	margin: 0 auto;
	border: 1px solid white;
}

#tabla-novedades td {
	padding: 5px 10px;
}

.usuario, h1 {
	color:var(--main-red);
}

h1 {
	margin:10px 0;
}

h2 a{
	color: var(--secondary-red);
}

h3 {
	margin-bottom: 5px;
	color: white;
}

.h3Editar{
	margin-bottom: 15px;
	margin-top: 5px;
}

a {
	text-decoration: none;
	color:#125c82;
}

.foto_de_perfil {
	border-radius: 100%;
	border:3px solid #1d1d1d;
	width: 150px;
	height: 150px;
}

.input_publicar {
	width: 80%;
	height: 100px;
	padding: 5px;
	margin-top: 10px;
	margin-bottom: 10px;
	background: rgb(40, 40, 40);
	border:none;
	resize: none;
	color: #a2a2a2;
	font-size: 15px;
}

.input_sinopsis {
	width: 50%;
	height: 100px;
	padding: 5px;
	margin-top: 10px;
	margin-bottom: 10px;
	background: rgb(40, 40, 40);
	border:none;
	resize: none;
	color: #a2a2a2;
	font-size: 15px;
}

.botones_publicar {
	display: flex;
	align-items: center;
}

.botones {
	display: flex;
	align-items:center;
	flex-direction: row;
}

#btn-cancelar{
	text-decoration: none;
    padding: 8.2px 15px;
    color: white;
    border-radius: 3px;
    background-color: var(--main-blue);
    margin-bottom: 10px;
    margin-left: 3px;
}

.cant_caracteres {
	font-size: 20px;
	color: white;
	font-weight: 700;
}

.boton_publicar:focus,
.input_publicar:focus,
.formulario_inicio input:focus,
.boton_seguir:focus,
.buscar:focus,
.input input:focus,
.input2 input:focus,
.boton_me_gusta:focus,
.eliminar button:focus,
.boton_seguir_perfil:focus,
#btn-borrar:focus,
#btn-editar:focus, #btn-borrar-com{
	outline:none;
}

.publicaciones {
	flex:2;
	width: 100%;
	margin-top: 10px;
	margin-bottom: 10px;
}

.publicacion {
	display: flex;
	justify-content:space-around;
	flex-direction:column;
	background: rgb(40, 40, 40);
	padding: 10px;
	border-bottom: 3px solid #252525;
}

.publicacion a{
	color: #db202c;
	font-size: 18px;
}

.publicacion img{
	margin-top: 15px;
	margin-left: 115px;
}


.imagen_publicacion, #imagen-novedad {
	display: block;
	margin: 10px auto;
	width: 70%;
	border-radius: 5px;
}

.boton_me_gusta {
	font-size: 17px;
	background: rgb(40, 40, 40);
	border: none;
}

.eliminar button {
	font-size: 17px;
	background: rgb(40, 40, 40);
	border: none;
}

.eliminar button i:hover {
	color:#E51F1F;
}

.boton_me_gusta i:hover{
	cursor: pointer;
	color:#6ac045;
}

.likeado {
	color:#5da93c;
	font-weight: 700;
}

.foto_perfil_publicacion img {
	border-radius: 100%;
	width: 50px;
	height: 50px;
	margin-right: 10px;
}

.info_publicacion {
	margin-top: 5px;
}

.publicacion_contenido {
	width: 500px;
}

.fecha {
	color: white;
}

.boton_publicar {
	padding: 5px 15px;
	border:none;
	background:#6ac045;
	color: white;
	font-weight: 700;
	border-radius: 3px;
}

.boton_publicar:hover {
	cursor:pointer;
}

.main_muro {
	display: flex;
}

.perfiles_siguiendo {
	flex:1;
	width: 40%;
	margin: 10px 10px 10px 0;
}

.foto_siguiendo img {
	width: 50px;
	border-radius: 100%;
}

.nombre_siguiendo,
.apellido_siguiendo,
.usuario_siguiendo {
	font-size:15px;
}

.perfil_siguiendo {
	display: flex;
	align-items: center;
	justify-content: space-around;
	padding:10px;
	border-bottom: 1px solid #2f2f2f;
	background: rgb(40, 40, 40);
}

.boton_seguir_perfil {
	border:1px solid #5da93c;
	border-radius: 3px;
	width: 120px;
	padding: 5px;
	color: white;
	background: none;
}

.boton_seguir_perfil:hover {
	cursor: pointer;
}

.siguiendo {
	background: #5da93c;
}

.formulario_inicio {
	padding: 0;
	margin: 0;
	height: 90vh;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	text-align:center;
}

.input input, select, input[type="datetime-local"]{
	border:0;
	color:#a2a2a2;
	border-radius: 3px;
	width: 250px;
	padding: 10px;
	background: #282828;
	margin-bottom: 10px;
}

.input2 input, select {
	border:0;
	color:#a2a2a2;
	border-radius: 3px;
	width: 250px;
	padding: 10px;
	background: #282828;
	margin-bottom: 10px;
}
.eliminar-trailer a input[type="button"]{
	width: 110px;
}

select {
	margin-bottom: 0;
	display: block;
}

select:focus {
	outline:none;
}

.select-y-boton {
	display:flex;
	align-items: center;
	margin-bottom: 10px;
}

.boton-alta {
	float: left;
	text-decoration: none;
	padding: 5px;
	color: red;
}
.input input[type="submit"]{
	background: #E51F1F;
	width: 100px;
	color:white;
}
.input input[type="button"]{
	background: #E51F1F;
	width: auto;
	color:white;
}

#btn-borrar, #btn-editar {
	color: white;
	border: none;
	padding: 10px 15px;
	background-color: black;
	border-radius: 3px;
}

#btn-borrar:hover {
	background: var(--secondary-red);
}

#btn-editar:hover {
	background: var(--secondary-blue);
}

#btn-borrar:hover, #btn-editar:hover {
	cursor: pointer;
}

#btn-editar {
	background: var(--main-blue); 
}

#btn-borrar {
	background: var(--main-red);
}

.input input[type="submit"]:hover {
	cursor: pointer;
	background: var(--main-red);
}

.input input[type="button"]:hover {
	cursor: pointer;
	background: var(--main-red);
}

.input2 input[type="submit"]{
	background: #E51F1F;
	width: 100px;
	margin-left: 43%;
	color:white;
}


.input2 input[type="submit"]:hover {
	cursor: pointer;
	background: var(--main-red);
}



.boton_seguir{
  padding: 5px 15px;
  border: none;
  background: #6ac045;
  color: white;
  border-radius: 3px;
  font-weight: 700;
  text-align: center;
}

.boton_seguir:hover{
	cursor: pointer;
}

.tilde, .cruz {
	color:#428e21;
	padding-right: 10px;
}

#errores {
	display: block;
	padding: 10px 10px 5px 10px;
	background: #f7a8b6;
	border: 1px solid #c6071b;
	width: 50%;
	margin: 10px auto;
}

#errores.errores_mensaje {
	width: 100%;
	text-align: center;
}

#errores.asd {
	margin: 10px 0;
}

#errores li {
	margin-bottom: 5px;
	color: #c6071b;
}

#exito {
	display: block;
	padding: 10px 10px 5px 10px;
	background: #ccff99;
	border: 1px solid green;
	width: 50%;
	margin: 10px auto;
}

#exito.exito_mensaje {
	width: 100%;
	text-align: center;
}

#exito.asd {
	margin: 10px 0;
}

#exito li {
	margin-bottom: 5px;
	color: green;
}

.paginacion {
	display:flex;
	justify-content: center;
	margin:10px 0;
}

.paginacion ul {
	display: flex;
}

.paginacion ul li {
	padding: 10px;
	border:1px solid #2f2f2f;
	border-radius: 3px;
	margin-right: 5px;
	color: white;
}

.paginacion ul li:hover {
	cursor: pointer;
	background: #E51F1F;
}

.paginacion ul li.actual {
	background: #E51F1F;
}

.resultados {
	display:flex;
	flex-direction: column;
	margin-bottom: 10px;
}

.resultado {
	display: flex;
	justify-content: space-between;
	align-items: center;
	width: 75%;
	margin:0 auto;
	background: rgb(40, 40, 40);
	padding: 10px;
	border-bottom: 1px solid #2f2f2f;
}

.resultado .datos {
	display: flex;
	flex-direction: column;
}

.resultado .datos p {
	color:#5da93c;
}

#titulo-novedad {
	font-size: 2em;
	font-weight: 700;
	margin: 10px 0;
	color: var(--secondary-red);
	text-shadow: 0 2px 2px rgba(0,0,0,.4);
}

#descripcion-novedad {
	margin-bottom: 10px;
}

.foto_resultado img{
	width: 80px;
	border-radius: 100%;
	margin-right: 10px;
}

.footer {
	position: absolute;
	bottom: 0;
	width: 100%;
	height: 2.5rem;
	background: black;
	color: white;
	text-align: center;
	padding-top: 10px;
}

/* Input tipo file */
.custom-file-input {
  color: white;
  height: 25.36px;
}

.libro {
    background:#0e0e0eb0;
    margin-bottom: 10px;
    padding: 10px;
    border-radius: 4px;
    display: flex
}
.capitulo {
    background:#0e0e0eb0;
    margin-bottom: 10px;
	padding: 10px;
	width: 40%;
    border-radius: 4px;
	display: flex;
	margin: auto;
	margin-top: 10px;
	
}
.titulo, .calificacion{
	margin-top:10px;
	margin-bottom: 3px;
}

.titulo-libro{
    font-weight: 700;
	color: #b31217;
	transition: .6s ease-in-out;

}    
.titulo-libro:hover {
    color: #919191;
}
.info{
	padding-left: 15px;
	margin-top: -5px ;
}

.foto img {
    width: 140px;
    height: 190px;
    margin-right: 10px;
    margin-left: 5px;
    margin-top: 5px;
	margin-bottom: 5px;
	transition: .6s ease-in-out;
}
.foto-link img {
    border: 2px solid #6c6f6c;
}
.foto-link img:hover {
    border: 2px solid #b31217;
}
.btn-trailer{
	margin-top:53px;
}
.descripcion-trailer p{
	padding-top: 5px;
}
.desc-trailer{
	display: flex;
	
}
.desc-trailer span{
	margin: .7rem 0;
}

.info span{
    color: #919191;
}
.custom-file-input:focus {
	outline:none;
}

.custom-file-input::-webkit-file-upload-button {
  visibility: hidden;
}

.custom-file-input::before {
  content: 'Adjuntar Imagen';
  display: inline-block;
  background: #125c82;
  border: none;
  border-radius: 3px;
  margin-left: 5px;
  padding: 5px;
  outline: none;
  white-space: nowrap;
  -webkit-user-select: none;
  color:transparent;
  cursor: pointer;
  text-shadow: 1px 1px #fff;
  font-weight: 700;
}

.custom-file-input:active {
  outline: 0;
}

@media (max-width: 850px) {
  .main_muro {
  	flex-direction:column-reverse;
  }
  .perfiles_siguiendo {
  	width: 300px;
  }
}

/* COLOQUIO */
.respuesta{
	display: flex;
	margin-top: 10px;
}

.todo {
	display: flex;
	flex-direction:row;
}

.nombre_respuesta {
	color: #5da93c;
}

.imagen_respuesta {
	margin-right: 5px;
}

.respuesta_contenido {
	display: flex;
	flex-direction:column;
}

.imagen_respuesta {
	width: 25px;
	height: 25px;
}


.opciones {
	display: flex;
	margin-top: 28px;
	margin-left: -10px;
}
.opciones div input{
	margin-left: 8px;
}  
.opciones div input[type="submit"]{
	width: 70px;
}
.ops-trailer{
	display: flex;
}
.ops-trailer div{
	margin:0 3px;
}

.opcion-capitulos {
	margin: 20px 0;
}

/* ESTILOS DE LIBRO.PHP */
.main {
	display: flex;
	margin-top: 10px;
	margin-bottom: 10px;
}
.imagen-libro img {
	border: 5px solid white;
	border-radius: 5px;
	width: 230px;
	height: 345px;
}
.imagen-libro {
	margin-right: 15px;
}
.titulo-libro {
	color: #b31217;
}
.genero {
	margin-bottom: 7px;
} 
.genero, .sinopsis, .calificacion{
	color: #919191;
}
.sinopsis-libro {
	color: #919191;
	margin-top: 10px;
}
.botones-libro {
    display:flex;
}
.botones-libro .input {
	margin-right:5px;
}
.botones-libro .input input[type="button"]:hover {
	background: rgba(229, 31, 31, .8);
}

.comentar {
    width: 100%;
    background: #171717;
    border: none;
    resize: none;
    height: 80px;
    color: #919191;
    padding: 10px;
    font-size: 18px;
}
textarea:focus {
    outline: none;
}
.boton-comentar {
	margin: 0;
    padding: 10px;
    border: none;
    color: white;
    border-radius: 5px;
    background: #b31217;
}
.boton-comentar:hover {
    cursor: pointer;
    background: #771504;
}
.lista-comentarios {
    margin-top: 10px;
    color: #919191;
}
.form-comentario{
	margin-top: 20px;
}
.opciones-comentar{
	display: flex;
	justify-content: space-between;
}
.opciones-comentar div{
	padding: .5rem;
}
.eleccion-spoiler{
	display: flex;
	padding: 0;
	justify-content: center;
}
.eleccion-spoiler div{
	padding: 0;
}
.eleccion-spoiler input{
	margin-right: 1rem;
}
.comentario{
	padding: .5rem;
	border-bottom: 2px solid grey;
}
.comentario:nth-last-child(1){
	border: none;
}
.parte-superior {
	justify-content: space-between;
	
}
.parte-superior div{
	margin-right: .5rem;
}
.parte-superior .izq{
	display: flex;
	justify-content: left;
}
#btn-borrar-com{
	text-decoration: none;
	color: white;
    border: none;
    padding: 3px 5px;
    background-color: #1d1d1d;
	border-radius: 4px;
	line-height: 1;
}
#btn-borrar-com:hover{
	cursor: pointer;
}
#btn-borrar-com i{
	color: var(--main-red);
	font-size: 1rem;
}

.parte-inferior{
	margin: 5px 0;
}
.nombre-usuario{
	color: #981300;
	font-weight: bold;
}
.reseña{
	text-align: center;
	margin-bottom: 1rem;
}
.ya-comentado{
	text-align: center;
	transition: all .5s ease-in-out;
}
.ya-comentado:hover{
	cursor: pointer;
	-webkit-transform: scale(1.1);
  }
.eliminar-com {
    float: right;
	margin-top: -24px;
	transition: all .5s ease-in-out;
}
.eliminar-com:hover{
	-webkit-transform: scale(1.2);
	cursor: pointer;
}